<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>File Version</key>
	<string>1</string>
	<key>NString &amp;</key>
	<dict>
		<key>SummaryString</key>
		<string>{$VAR.GetUTF8()}:s</string>
	</dict>
</dict>
</plist>
