# GitHub
Library/Source/Nano/Internal/Components/* linguist-vendored


# macOS
*.DS_Store


# Xcode
*.mode1v3
*.mode2v3
*.pbxuser
*.perspectivev3
*.xcuserstate
project.xcworkspace/
xcuserdata/


# Visual Studio
*.idb
*.ncb
*.obj
*.pdb
*.suo
*.user


# Python
*.pyc

