//============================================================================
//		Target
//----------------------------------------------------------------------------
SDKROOT												= macosx





//============================================================================
//		Include files
//----------------------------------------------------------------------------
#include "NanoRelease.xcconfig"


