//============================================================================
//		Compiler
//----------------------------------------------------------------------------
ALWAYS_SEARCH_USER_PATHS							= NO
DEBUG_INFORMATION_FORMAT							= dwarf
INFOPLIST_PREPROCESS								= YES
INFOPLIST_PREPROCESSOR_DEFINITIONS					= INFO_PLIST

GCC_C_LANGUAGE_STANDARD								= c99
GCC_DEBUGGING_SYMBOLS								= used
GCC_DYNAMIC_NO_PIC									= NO
GCC_ENABLE_CPP_EXCEPTIONS							= NO
GCC_ENABLE_TRIGRAPHS								= YES
GCC_FAST_MATH										= YES
GCC_GENERATE_DEBUGGING_SYMBOLS						= YES
GCC_INLINES_ARE_PRIVATE_EXTERN						= YES
GCC_NO_COMMON_BLOCKS								= YES
GCC_OBJC_CALL_CXX_CDTORS							= YES
GCC_PRECOMPILE_PREFIX_HEADER						= YES
GCC_SYMBOLS_PRIVATE_EXTERN                          = YES
GCC_TREAT_IMPLICIT_FUNCTION_DECLARATIONS_AS_ERRORS	= YES
GCC_TREAT_NONCONFORMANT_CODE_ERRORS_AS_WARNINGS		= YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS					= YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO				= YES
GCC_WARN_ABOUT_MISSING_NEWLINE						= YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES					= YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS					= YES
GCC_WARN_ABOUT_RETURN_TYPE							= YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL					= YES
GCC_WARN_CHECK_SWITCH_STATEMENTS					= YES
GCC_WARN_FOUR_CHARACTER_CONSTANTS					= YES
GCC_WARN_HIDDEN_VIRTUAL_FUNCTIONS					= YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED			= YES
GCC_WARN_MISSING_PARENTHESES						= YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR						= YES
GCC_WARN_PROTOTYPE_CONVERSION						= YES
GCC_WARN_SIGN_COMPARE								= YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF					= YES
GCC_WARN_UNKNOWN_PRAGMAS							= YES
GCC_WARN_UNUSED_FUNCTION							= YES
GCC_WARN_UNUSED_LABEL								= YES
GCC_WARN_UNUSED_PARAMETER							= YES
GCC_WARN_UNUSED_VALUE								= YES
GCC_WARN_UNUSED_VARIABLE							= YES

//GCC_WARN_EFFECTIVE_CPLUSPLUS_VIOLATIONS			= YES
//GCC_WARN_64_TO_32_BIT_CONVERSION					= YES

NANO_HEADER_SEARCH_PATHS                            = "$(Nano)/Library/Source/Nanites/Cocoa" "$(Nano)/Library/Source/Nanites/CoreFoundation" "$(Nano)/Library/Source/Nanites/CoreGraphics" "$(Nano)/Library/Source/Nanites/Qt" "$(Nano)/Library/Source/Nanites/Skia" "$(Nano)/Library/Source/Nano/Application" "$(Nano)/Library/Source/Nano/Core" "$(Nano)/Library/Source/Nano/Database" "$(Nano)/Library/Source/Nano/Events" "$(Nano)/Library/Source/Nano/Files" "$(Nano)/Library/Source/Nano/Graphics" "$(Nano)/Library/Source/Nano/Internal/Targets" "$(Nano)/Library/Source/Nano/System" "$(Nano)/Library/Source/Nano/Threads" "$(Nano)/Library/Source/Nano/Types" "$(Nano)/Library/Source/Nano/Utilities"
NANO_LIBRARY_SEARCH_PATHS							= "$(Nano)/Library/Project/build/$(BUILD_STYLE)"
NANO_WARNING_CFLAGS									= $(NANO_DEBUG_WARNING_CFLAGS) $(NANO_RELEASE_WARNING_CFLAGS) -Wall -Wextra -Wcast-qual -Wconversion -Wdisabled-optimization -Wfloat-equal -Wfour-char-constants -Winit-self -Wno-long-long -Wno-missing-field-initializers -Wpointer-arith -Wredundant-decls -Wsign-compare -Wundef -Wwrite-strings
NANO_OTHER_CFLAGS									= $(NANO_DEBUG_OTHER_CFLAGS)   $(NANO_RELEASE_OTHER_CFLAGS)   -fconstant-cfstrings

HEADER_SEARCH_PATHS                                 = $(NANO_HEADER_SEARCH_PATHS)
LIBRARY_SEARCH_PATHS								= $(NANO_LIBRARY_SEARCH_PATHS)
WARNING_CFLAGS										= $(NANO_WARNING_CFLAGS)
OTHER_CFLAGS										= $(NANO_OTHER_CFLAGS)





//============================================================================
//		Linker
//----------------------------------------------------------------------------
PREBINDING											= NO
ZERO_LINK											= NO

REMOVE_CVS_FROM_RESOURCES							= YES
REMOVE_SVN_FROM_RESOURCES							= YES





//============================================================================
//		Target
//----------------------------------------------------------------------------
GCC_VERSION[sdk=macosx*]							= 4.0
GCC_VERSION[sdk=iphoneos*]							= 4.0
GCC_VERSION[sdk=iphonesimulator*]					= 4.0

MACOSX_DEPLOYMENT_TARGET[sdk=macosx*]				= 10.4
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphoneos*]			= 2.1
IPHONEOS_DEPLOYMENT_TARGET[sdk=iphonesimulator*]	= 2.1

ARCHS[sdk=macosx10.4*]								= i386 ppc
ARCHS[sdk=macosx10.5*]								= i386 x86_64 ppc ppc64
ARCHS[sdk=macosx10.6*]								= i386 x86_64 ppc ppc64
ARCHS[sdk=iphoneos*]								= armv6
ARCHS[sdk=iphonesimulator*]							= i386

CODE_SIGN_IDENTITY[sdk=iphoneos*]					= iPhone Developer
CODE_SIGN_IDENTITY[sdk=iphonesimulator*]			= iPhone Developer



