//============================================================================
//		Include files
//----------------------------------------------------------------------------
#include "NanoRelease.xcconfig"





//============================================================================
//		Target
//----------------------------------------------------------------------------
CODE_SIGN_IDENTITY[sdk=iphoneos*]					= iPhone Distribution
CODE_SIGN_IDENTITY[sdk=iphonesimulator*]			= iPhone Distribution




