//============================================================================
//		Target
//----------------------------------------------------------------------------
SDKROOT														= iphoneos





//============================================================================
//		Include files
//----------------------------------------------------------------------------
#include "NanoDebug.xcconfig"


