//============================================================================
//		Target
//----------------------------------------------------------------------------
SDKROOT												= iphoneos





//============================================================================
//		Include files
//----------------------------------------------------------------------------
#include "NanoRelease.xcconfig"


