//============================================================================
//		Compiler
//----------------------------------------------------------------------------
GCC_ENABLE_FIX_AND_CONTINUE							= YES
GCC_OPTIMIZATION_LEVEL								= 0
GCC_PREPROCESSOR_DEFINITIONS						= NN_DEBUG=1 _GLIBCXX_DEBUG _GLIBCXX_DEBUG_PEDANTIC 
GCC_UNROLL_LOOPS									= NO
GCC_WARN_UNINITIALIZED_AUTOS						= NO





//============================================================================
//		Linker
//----------------------------------------------------------------------------
COPY_PHASE_STRIP									= NO
DEAD_CODE_STRIPPING									= NO
DEPLOYMENT_POSTPROCESSING							= NO
PRESERVE_DEAD_CODE_INITS_AND_TERMS					= NO
SEPARATE_STRIP										= NO
STRIPFLAGS											= 





//============================================================================
//		Include files
//----------------------------------------------------------------------------
#include "TargetCommon.xcconfig"





//============================================================================
//		Target
//----------------------------------------------------------------------------
ONLY_ACTIVE_ARCH									= YES
