//============================================================================
//		Compiler - Header Search Paths
//----------------------------------------------------------------------------
USER_HEADER_SEARCH_PATHS				= $(Nano_UHSP)





//=============================================================================
//		Compiler - Misc
//-----------------------------------------------------------------------------
GCC_PREFIX_HEADER						= 





//=============================================================================
//		Linker
//-----------------------------------------------------------------------------
PRODUCT_NAME							= NanoTest_$(NANO_PLATFORM)
OTHER_LDFLAGS							= $(inherited) $(Nano_LinkFlags)

